
.sitefooter {
	padding: 25px 0;
	font-size: 85%;
	background-color: #2A2A2A;
	/* position: fixed; */
	/* z-index: -1; */
	left: 0;
	right: 0;
    bottom: 0;
    display: block;
    margin-top: 20px;
}

.footerimg{
    height: 27px;
    padding-bottom: 1px;
};

.FB{
    height: 24px;
    padding-bottom: 1px;
};